<form action="http://localhost:4306/app/anuladas/guardar" method="post">
  <div class="form-group col-12">
    <label for="formGroupExampleInput2">Usuario</label>
    <input type="text" class="form-control" name="usuario" id="usuario" required>
  </div>
  <div class="form-group col-12">
    <label for="formGroupExampleInput2">Descripcion</label>
    <input type="text" class="form-control" name="descripcion" id="descripcion" required>
  </div>
  <div class="form-group col-12">
    <label for="formGroupExampleInput2">Fecha</label>
    <input type="date" class="form-control" name="fechahora" id="fechahora" required>
  </div>
  <button onclick="alerta()" type="submit" class="btn btn-primary m-2 col-2">Guardar</button>
</form>