<form action="http://localhost:4306/app/constancia/guardar" method="post">
  <div class="form-group col-12">
    <label for="formGroupExampleInput2">N° Constancia</label>
    <input type="number" class="form-control" name="numero_constancia" id="numero_constancia" required>
  </div>
  <button onclick="alerta()" type="submit" class="btn btn-primary m-2 col-2">Guardar</button>
</form>