<h1>Create Detalle</h1>
<form action="http://localhost:4306/app/detalle/guardar" method="post">
    <div >
        <label>Cantidad</label>
        <input type="text" name="cantidad" class="">
    </div>
    <div >
        <label>Numero Factura</label>
        <input type="text" name="numeroFactura" class="">
    </div>
    <div >
        <label>Codigo Producto</label>
        <input type="text" name="codigoProducto" class="">
    </div>
    <div >
        <label>Precio</label>
        <input type="text" name="precio" class="">
    </div>
    <div >
        <label>Impuesto</label>
        <input type="text" name="impuesto" class="">
    </div>
    
    <button onclick="alert(Registro guardado exitosamente)" type="submit">Guardar</button>
    <script></script>
</form>