<h1>Create Detalle</h1>
<form action="http://localhost:4306/app/detalle/guardar" method="post"  >
    <div >
        <label>Cantidad</label>
        <input type="number" name="cantidad" id="cantidad" required class="">
    </div>
    <div >
        <label>Numero Factura</label>
        <input type="number" name="numeroFactura" id="numerofactura" required class="">
    </div>
    <div >
        <label>Codigo Producto</label>
        <input type="number" name="codigoProducto" id="codigo" required class="">
    </div>
    <div >
        <label>Precio</label>
        <input type="number" name="precio" id="precio" required class="">
    </div>
    <div >

        <label>Precio Original</label>
        <input type="number" name="preciooriginal" id="preciooriginal" required class="">
    </div>
    <div >
        <label>Grabado Exento</label>
        <input type="number" name="grabadoExento" id="grabadoExento" required class="">
    </div>
    <div >
        <label>Impuesto</label>
        <input type="number" name="impuesto" id="impuesto" required class="">
    </div>
    <button  onclick="alerta()" type="submit" >Create Detalle</button>
    <script>
        function alerta(){
        var cantidad = document.getElementById("cantidad").value; 
        var numerofactura = document.getElementsByName("numerofactura")[0].value;
        var codigo = document.getElementsByName("codigo")[0].value;
        var precio = document.getElementsByName("precio")[0].value;
    
    
    
    
    
    if ((cantidad == "") || (numerofactura == "") || (codigo == "") || (precio == "") ) {  //COMPRUEBA CAMPOS VACIOS
        alert("Los campos no pueden quedar vacios");
        return true;
    }else{
        alert("Registro Guardado Exitosamente")
    }
        
    }
    </script>

    

        <label>Impuesto</label>
        <input type="text" name="impuesto" class="">
    </div>
    
    <button onclick="alert(Registro guardado exitosamente)" type="submit">Guardar</button>
    <script></script>

</form>