<form action="http://localhost:4306/app/detalle/guardar" method="post">
<div class="form-group col-12">
    <label for="formGroupExampleInput2">N° Factura</label>
    <input type="number" class="form-control" name="NumeroFactura" id="NumeroFactura" required>
  </div>
  <div class="form-group col-12">
    <label for="formGroupExampleInput2">ID Producto</label>
    <input type="numbe" class="form-control" name="CodigoProducto" id="CodigoProducto" required>
  </div>
  <div class="form-group col-12">
    <label for="formGroupExampleInput2">Cantidad</label>
    <input type="text" class="form-control" name="Cantidad" id="Cantidad" required>
  </div>
  <div class="form-group col-12">
    <label for="formGroupExampleInput2">Precio</label>
    <input type="numbre" class="form-control" name="Precio" id="Precio" required>
  </div>
  <div class="form-group col-12">
    <label for="formGroupExampleInput2">Precio original</label>
    <input type="number" class="form-control" name="preciooriginal" id="preciooriginal" required>
  </div>
  <div class="form-group col-12">
    <label for="formGroupExampleInput2">Impuesto</label>
    <input type="text" class="form-control" name="impuesto" id="impuesto" required>
  </div>
  <div class="form-group col-12">
    <label for="formGroupExampleInput2">Exento</label>
    <input type="number" class="form-control" name="grabadoExento" id="grabadoExento" required>
  </div>
  <button onclick="alerta()" type="submit" class="btn btn-primary m-2 col-2">Guardar</button>
</form>