<form action="http://localhost:4306/app/pos/guardar" method="post">
<div class="form-group col-12">
    <label for="formGroupExampleInput2">ID Venta</label>
    <input type="number" class="form-control" name="idventa" id="idventa" required>
  </div>
  <div class="form-group col-12">
    <label for="formGroupExampleInput2">ID POS</label>
    <input type="numbe" class="form-control" name="idpos" id="idpos" required>
  </div>
  <div class="form-group col-12">
    <label for="formGroupExampleInput2">Referencia</label>
    <input type="text" class="form-control" name="referencia" id="referencia" required>
  </div>
  <div class="form-group col-12">
    <label for="formGroupExampleInput2">N° Tarjeta</label>
    <input type="numbre" class="form-control" name="numerotarjeta" id="numerotarjeta" required>
  </div>
  <div class="form-group col-12">
    <label for="formGroupExampleInput2">Valor</label>
    <input type="number" class="form-control" name="valor" id="valor" required>
  </div>
  <div class="form-group col-12">
    <label for="formGroupExampleInput2">Nombre del propietario</label>
    <input type="text" class="form-control" name="nombrepropietario" id="nombrepropietario" required>
  </div>
  <div class="form-group col-12">
    <label for="formGroupExampleInput2">ID Marca</label>
    <input type="number" class="form-control" name="idmarca" id="idmarca" required>
  </div>
  <button onclick="alerta()" type="submit" class="btn btn-success m-2 col-2">Guardar</button>
</form>