<form action="http://localhost:4306/app/sag/guardar" method="post">
  <div class="form-group col-12">
    <label for="formGroupExampleInput">N° Factura</label>
    <input type="number" class="form-control" name="numero_factura" id="numero_factura" required>
  </div>
  <div class="form-group col-12">
    <label for="formGroupExampleInput2">N° Sag</label>
    <input type="number" class="form-control" name="numero_sag" id="numero_sag" required>
  </div>
  <button onclick="alerta()" type="submit" class="btn btn-primary">Guardar</button>
</form>