<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/app/" class="brand-link">
    <img
      src="/public/img/carrito.png"
      alt="Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: .8"
    />
    <span class="brand-text font-weight-light">Modulo de ventas</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="/public/img/avatar5.png"
          class="img-circle elevation-2"
          alt="Imagen de usuario"
        />
      </div>
      <div class="info">
        <a href="/app/" class="d-block">Ventas</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a href="/app/" class="nav-link active">
            <i class="nav-icon fas fa-file-alt"></i>
            <p>
              Inicio
            </p>
          </a>
        </li>

        <!-- Ventas -->
        <li class="nav-item">
          <a href="/" class="nav-link">
          <i class="nav-icon fas fa-wallet"></i>
            <p>
              Ventas
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item">
              <a href="/app/ventas/listar/" class="nav-link">
                <i class="nav-icon fas fa-list"></i>
                <p>Listar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/icons.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Buscar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cargos/nuevo" class="nav-link">
                <i class="far fa-save nav-icon"></i>
                <p>Nuevo</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Detalle venta -->
        <li class="nav-item">
          <a href="/" class="nav-link">
          <i class="nav-icon fas fa-file"></i>
            <p>
              Detalle Venta
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item">
              <a href="/app/detalle/listar/" class="nav-link">
                <i class="nav-icon fas fa-list"></i>
                <p>Listar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/icons.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Buscar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/app/detalle/create" class="nav-link">
                <i class="far fa-save nav-icon"></i>
                <p>Nuevo</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Anuladas -->
        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="nav-icon fas fa-ban"></i>
            <p>
              Anuladas
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item">
              <a href="/app/anuladas/listar/" class="nav-link">
                <i class="nav-icon fas fa-list"></i>
                <p>Listar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/icons.html" class="nav-link">
                <i class="far fa-sistrix nav-icon"></i>
                <p>Buscar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cargos/nuevo" class="nav-link">
                <i class="far fa-save nav-icon"></i>
                <p>Nuevo</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Credito -->
        <li class="nav-item">
          <a href="/" class="nav-link">
          <i class="nav-icon fas fa-grip"></i>
            <p>
              Credito
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item">
              <a href="/app/credito/listar/" class="nav-link">
                <i class="nav-icon fas fa-list"></i>
                <p>Listar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/icons.html" class="nav-link">
                <i class="far fa-sistrix nav-icon"></i>
                <p>Buscar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cargos/nuevo" class="nav-link">
                <i class="far fa-save nav-icon"></i>
                <p>Nuevo</p>
              </a>
            </li>
          </ul>
        </li>

      <!-- Constancia -->
        <li class="nav-item">
          <a href="/" class="nav-link">
          <i class="nav-icon fas fa-grip"></i>
            <p>
              Constancia
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item">
              <a href="/app/constancia/listar/" class="nav-link">
                <i class="nav-icon fas fa-list"></i>
                <p>Listar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/icons.html" class="nav-link">
                <i class="far fa-sistrix nav-icon"></i>
                <p>Buscar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cargos/nuevo" class="nav-link">
                <i class="far fa-save nav-icon"></i>
                <p>Nuevo</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- SAG -->
        <li class="nav-item">
          <a href="/" class="nav-link">
          <i class="nav-icon fas fa-grip"></i>
            <p>
              SAG
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item">
              <a href="/app/sag/listar/" class="nav-link">
                <i class="nav-icon fas fa-list"></i>
                <p>Listar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/icons.html" class="nav-link">
                <i class="far fa-sistrix nav-icon"></i>
                <p>Buscar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cargos/nuevo" class="nav-link">
                <i class="far fa-save nav-icon"></i>
                <p>Nuevo</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- POS -->
        <li class="nav-item">
          <a href="/" class="nav-link">
          <i class="nav-icon fas fa-grip"></i>
            <p>
              POS
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item">
              <a href="/app/pos/listar/" class="nav-link">
                <i class="nav-icon fas fa-list"></i>
                <p>Listar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/icons.html" class="nav-link">
                <i class="far fa-sistrix nav-icon"></i>
                <p>Buscar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cargos/nuevo" class="nav-link">
                <i class="far fa-save nav-icon"></i>
                <p>Nuevo</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Exenta -->
        <li class="nav-item">
          <a href="/" class="nav-link">
          <i class="nav-icon fas fa-grip"></i>
            <p>
              Exenta
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item">
              <a href="/app/exenta/listar/" class="nav-link">
                <i class="nav-icon fas fa-list"></i>
                <p>Listar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/icons.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Buscar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cargos/nuevo" class="nav-link">
                <i class="far fa-save nav-icon"></i>
                <p>Nuevo</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>